* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    overflow:scroll;
    background-color: #151515;
    color: #eee;
}

header {
    width: 100%;
    position: fixed;
    top: 0px;
    padding: 0 40px;
    height: 80px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #151515;
    z-index: 10000;
}

header p {
    width: 200px;
    border-bottom: 1px solid #eee;
    display: flex;
}

header input {
    background-color: transparent;
    border: none;
    color: #eee;
}

input:focus {
    outline: none;
}

.container {
    margin-top: 90px;
}

.movie-list{
    display : flex;
    flex-direction: row;
    flex-wrap:nowrap;
    margin : 10px;

    overflow-x:auto;
    overflow-y: hidden;
    
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;

    position :relative;
    align-items: center;
}

.movie-list::-webkit-scrollbar{
    display: none;
}

.slider-container{
    background-color: black;
    display: inline-block;
    border-radius: 10px;
    
    margin : 10px;
    width : 100vw;
    height: 380px;
    padding : 0px;

    overflow:hidden;
    position :relative;
}

.movie-new, .movie-popular{
    background-color: black;
    display: inline-block;
    border-radius: 10px;
    
    margin : 10px;
    width : 170px;
    height: 280px;
    padding : 0px;
    flex : 0 0 auto;
    flex-flow: row nowrap;

    overflow:hidden;
    position :relative;
}

.poster-img {
    width : 100%;
    height: 100%;
    object-fit:cover;
    position : absolute;

    opacity: 0.8;
}

.ranking{
    font-size: 45px;
    color :white;

    margin : 5px;
    padding: 5px;

    position : absolute;
    top :10px;
    left : 20px;
}

.title-top{
    font-size: 50px;
    font-weight: bold;
    color:white;

    margin : 5px;
    padding: 5px;

    position : absolute;
    bottom : 10px;
    left : 20px;
}

.title-revew{
    padding-left: 8px;
    margin : 0px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.title-list{
    margin : 0px;
    color:white;
    position : absolute;
    bottom : 10px;
    left : 10px;
}

.review{
    padding-left: 4px;
    font-size: 14px;
    color: #d8d5d3;
}

.btn-container{
    position : absolute;
    width : 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

#recent-review{
    background-color: #353535;
    margin : 10px 10px 10px 20px;
    height: 35px;

    display: flex;
    align-items: center; 
    border-radius: 8px;
}

#new-movie, #popular-movie{
  margin : 10px 10px 5px 20px;
  padding-top: 20px;  

  color: white;
  font-size: 26px;
}

.btn{
   background-color:transparent;
   border : 0px;
   padding : 1px;
   cursor: pointer;
}

button > img{
    width : 30px;
}
