* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 40px;
  height: 80px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #151515;
  z-index: 10000;
}

header h1 {
  height: 60px;
}
header h1 img {
  height: 100%;
}

header p {
  width: 200px;
  border-bottom: 1px solid #eee;
  display: flex;
}

header input {
  background-color: transparent;
  border: none;
  color: #eee;
}

input:focus {
  outline: none;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: #eee solid 1px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  cursor: pointer;
}

body {
  background-color: #151515;
  color: #eee;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 2rem;

  padding: 2rem;
}

#top-list,
#now-list,
#popular-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 2rem;

  padding: 2rem;
}

.movie-img {
  margin: 50px;
  width: 100%;
}
