* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0 40px;
  height: 80px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #151515;
  z-index: 10000;
}

header h1 {
  height: 60px;
}
header h1 img {
  height: 100%;
}

header p {
  width: 200px;
  border-bottom: 1px solid #eee;
  display: flex;
}

body {
  background-color: #151515;
  color: #eee;
  font-family: "Pretendard-Regular";
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 120px;
  height: 20px;
}

#search-form {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color:#151515;
}

#search-input {
  /* height: 100px; */
  border-radius: 50px;
  height: 2em;
  width: 400px;
  font-size: 16px;
  padding: 10px;
  border:0px;
}
#search-input:focus{
  outline: none;
}

.material-symbols-outlined{
  position: absolute;
  top:5px;
  right:10px;
}

#search-validation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

#search-validation h4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#search-list {
  font-family: "Pretendard-Regular";
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  padding: 2rem;
  align-items: center;
}

#search-list > .movie-img {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  padding: 2rem;
  align-items: center;
}

#search-list h4 {
  font-family: "Pretendard";
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-self: center;
}
.movie-card{
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.movie-img {
  /* margin: 50px; */
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-self: center;
  cursor: pointer;
  user-select: none;
  transition: all  .2s ease-in;
}

.movie-img:hover {
  transform: scale(1.1);
}
